<template>
    <div id="app">
        <div class="chat-list">
            <div class="chat-wrapper" v-for="chat in chats">
                <div class="chat-item" @click="currentChat = chat">
                    <div class="img" :style="{backgroundImage: `url(${chat.image}`}"></div>
                    <p class="title">{{chat.title}}</p>
                </div>
                <transition name="slide-fade">
                    <chat-item :chat="chat" v-show="currentChat === chat"></chat-item>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import Chat from './Chat'
    import { EventBus } from './event-bus.js';

    export default {
        name: 'app',
        components: {
            'chat-item': Chat
        },
        mounted() {
            EventBus.$on('closeChat', this.closeChat);
        },
        data() {
            return {
                currentChat: null,
                chats: [
                    {
                        title: "Awesome party",
                        image: "https://placekitten.com/110/110"
                    },
                    {
                        title: "Naked girls party",
                        image: "https://placekitten.com/111/111"
                    }
                ]
            }
        },
        methods: {
            closeChat() {
                this.currentChat = null;
            }
        }
    }
</script>

<style lang="less">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: #242424;
        font-family: Arial;
        color: #fefefe;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(40px);
        opacity: 0;
    }

    #app {
        .chat-list {
            padding: 8px;

            .chat-item {
                padding: 8px;
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                background: #151515;
                transition: all .2s;
                position: relative;

                &:hover {
                    cursor: pointer;
                    background: #1c1c1c;
                }

                .img {
                    width: 80px;
                    height: 80px;
                    background-position: center;
                    background-size: cover;
                    border-radius: 50%;
                }

                .title {
                    margin-left: 16px;
                }
            }
        }
    }
</style>
