<template>
    <div class="chat">
        <div class="navbar">
            <button @click="back"><- Back</button>
            <div class="img" :style="{backgroundImage: `url(${chat.image}`}"></div>
            <p class="title">{{chat.title}}</p>
        </div>
        <div class="messages">
            <div class="message" v-for="message in messages">{{message.message}}</div>
        </div>
        <div class="input">
            <input type="text" placeholder="Write a message..." @keypress.enter="sendMessage" v-model="message">
        </div>
    </div>
</template>

<script>
    import { EventBus } from './event-bus.js';
    
    export default {
        props: ['chat'],
        data() {
            return {
                message: '',
                messages: []
            }
        },
        mounted() {
            console.info('Chat Mounted');
            this.loadMessages();
        },
        methods: {
            back() {
                EventBus.$emit('closeChat');
            },
            loadMessages() {
                // Fetch time simulation
                setTimeout(() => {
                    this.messages = [
                        {message: "Hello"},
                        {message: "Hi"},
                        {message: "How are you?"},
                        {message: "Nice. You?"},
                    ];
                }, 200)
            },
            sendMessage() {
                // Post message time simulation
                setTimeout(() => {
                    this.messages.push({message: this.message});
                    this.message = '';
                    setTimeout(() => {
                        let objDiv = document.querySelector('.messages');
                        objDiv.scrollTop = objDiv.scrollHeight;
                    }, 20)
                }, 200)
            }
        }
    }
</script>

<style lang="less">
    .chat {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: tomato;
        display: flex;
        flex-direction: column;
        .navbar {
            display: flex;
            align-items: center;
            background: #222;
            padding: 16px;
            button {
                padding: 16px 8px;
            }
            .img {
                width: 80px;
                height: 80px;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                margin-left: 16px;
            }
            .title {
                margin-left: 16px;
            }
        }
        .messages {
            margin: 16px;
            display: flex;
            flex-direction: column;
            margin-bottom: auto;
            overflow: auto;
            .message {
                padding: 16px;
                background: #333;
                margin-top: 8px;
                border-radius: 4px
            }
        }
        .input {
            display: flex;
            margin-top: auto;
            input {
                width: 100%;
                padding: 8px;
                margin: auto 8px 8px 8px;
            }
        }
    }
</style>